.dark-mode {
    background-color: rgb(134, 131, 131) !important;
  }
  
  .light-mode {
    background-color: rgb(189, 187, 187) !important;

  }

.active{
    background-color: orange;
    border-radius: 10px;
}  
.nav-link{
    padding: 10px 20px !important;
}
.navbar-nav > li :hover{
    cursor: pointer;
}

.navbar-brand:hover{
  cursor: pointer;
}