.dark-mode {
    background-color: rgb(117, 77, 3) !important;
  }
  
.light-mode {
    background-color: orange !important;

}

.main{
    width: 100%;
    height: 70vh;
    background-color: orange;
    /* margin-top: 200px; */
}