<div class="parent" >
    <main>
        <!-- <img src="../../assets/Picture4.jpg" alt=""> -->
        <img src="../../assets/logo-removebg-preview.png" alt="">
    </main>
        <div class="clock">
            <section>
                <div class="clock">
                        <div class="line1 line"></div>
                        <div class="line2 line"></div>
                        <div class="line3 line"></div>
                        <div class="line4 line"></div>
                        <div class="line5 line"></div>
                        <div class="line6 line"></div>
                        <div class="lineClock lineClock1"></div>
                        <div class="lineClock lineClock2"></div>
                        <div class="lineClock lineClock3"></div>
                        <div class="lineClock lineClock4"></div>
                        <div class="lineClock lineClock5"></div>
                        <div class="lineClock lineClock6"></div>
                        <div class="lineClock lineClock7"></div>
                        <div class="lineClock lineClock8"></div>
                        <div class="lineClock lineClock9"></div>
                        <div class="lineClock lineClock10"></div>
                        <div class="lineClock lineClock11"></div>
                        <div class="lineClock lineClock12"></div>
                
                        <div class="clockArrowSmall"></div>
                        <div class="longArrowParent">
                            <div class="clockArrowLong"></div>
                        </div>
    
                    
                </div>
                <div class="smallRound"></div>
                <div class="clockLines2">
                    <div class="AlineClock AlineClock1"></div>
                    <div class="AlineClock AlineClock2"></div>
                    <div class="AlineClock AlineClock3"></div>
                    <div class="AlineClock AlineClock4"></div>
                    <div class="AlineClock AlineClock5"></div>
                    <div class="AlineClock AlineClock6"></div>
                    <div class="AlineClock AlineClock7"></div>
                    <div class="AlineClock AlineClock8"></div>
                    <div class="AlineClock AlineClock9"></div>
                    <div class="AlineClock AlineClock10"></div>
                    <div class="AlineClock AlineClock11"></div>
                    <div class="AlineClock AlineClock12"></div>
                
                </div>
            
                <div class="round">
                    <div class="texts">
                        <section>
                            <h3>OUR NEW SITE IS</h3>
                                <h1>COMING</h1>
                                <h1>SOON</h1>
                            <h3>STAY TUNED!</h3>
                        </section>
                    </div>
                </div>
                <div class="smallScreenRound"></div>
         </section>
    
       </div>
    </div>
    
