

<header id="header">
    <app-header [inputFromParent]="isDarkMode"></app-header>
  </header>
  
  
  
  <main [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }">
    <router-outlet> </router-outlet>
  </main>
  

  <div class="up" (click)="scrollToTop()">
    <i class="fa-brands fa-upwork" [ngStyle]="{'color': isDarkMode ? 'white' : 'black'}"></i>
  </div>
  <div class="mode">
   <i class="fa-solid fa-moon"  (click)="toggleMode()" *ngIf="!isDarkMode"></i>
   <i class="fa-solid fa-sun mySun" (click)="toggleMode()" *ngIf="isDarkMode"></i>
  </div>
  
  <!-- <footer>
    <app-footer></app-footer>
  </footer> -->