

<section [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }">
    <div class="product-list">
      <div *ngFor="let product of paginatedProducts" class="product-item">
        <div class="immCont" [ngStyle]="{'background-image': 'url(' + product.picturePath + ')'}">
        </div>
        <h3 [ngClass]="{ 'dark-mode-text': isDarkMode, 'light-mode-text': !isDarkMode }">{{ product.title }}</h3>
        <p [ngClass]="{ 'dark-mode-text': isDarkMode, 'light-mode-text': !isDarkMode }">{{ product.description }}</p>
      </div>
    </div>
  

    <p-paginator 
      (onPageChange)="onPageChange($event)" 
      [first]="first" 
      [rows]="rows" 
      [totalRecords]="products.length" 
      [rowsPerPageOptions]="[6, 12, 18]" 
      [pageLinkSize]="5">
    </p-paginator>
  </section>