<!-- <section  [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }">

    <div class="product-list">
        <div *ngFor="let product of paginatedProducts" class="product-item">
          <div class="immCont" style="background-image: url({{product.picturePath}});">
          </div>
          <h3>{{ product.title }}</h3>
          <p>{{ product.description }}</p>
        </div>
      </div>
      
  
      <div class="pagination">
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }}</span>
        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage * itemsPerPage >= products.length">Next</button>
      </div>

      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />

  
</section> -->

<section [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }">
    <div class="product-list">
      <div *ngFor="let product of paginatedProducts" class="product-item">
        <div class="immCont" [ngStyle]="{'background-image': 'url(' + product.picturePath + ')'}">
        </div>
        <h3 [ngClass]="{ 'dark-mode-text': isDarkMode, 'light-mode-text': !isDarkMode }">{{ product.title }}</h3>
        <p [ngClass]="{ 'dark-mode-text': isDarkMode, 'light-mode-text': !isDarkMode }">{{ product.description }}</p>
      </div>
    </div>
  
    <!-- PrimeNG Paginator -->
    <p-paginator 
      (onPageChange)="onPageChange($event)" 
      [first]="first" 
      [rows]="rows" 
      [totalRecords]="products.length" 
      [rowsPerPageOptions]="[6, 12, 18]" 
      [pageLinkSize]="5">
    </p-paginator>
  </section>