
<main></main>


<div id="carouselExampleAutoplaying" class="carousel slide myCarousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let images of imageGroups; let groupIndex = index" class="carousel-item" [class.active]="groupIndex === 0">
      <section class="pictureAcc" [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }">
        <div class="con">
     
          <img *ngFor="let img of images.imgSlides; let imgIndex = index"
               [src]="img"
               alt=""
               [ngClass]="imgIndex === images.imgSlides.length - 1 || imgIndex === 0 ? 'lastImg' : ''" 
               class="carousel-image" />
        </div>
      </section>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>